
<form [formGroup]="loginForm">
    <label for="userName">User ID</label>
    <input type="text" name="userName" id="userName" formControlName="userName">
    <div *ngIf="!loginForm.controls.userName.valid && loginForm.controls.userName.errors.required">
        <p>This Field is required</p>
    </div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password">
    <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.errors.required">
        <p>This Field is Required</p>
    </div>  
<br>
<button type="submit" (click)="loginFunction()">Login</button>
</form>
