


<div *ngIf="showTable && customerResponse.data.length > 0">{{ customerResponse.data[0]| json }}</div>

<table *ngIf="showTable">
    <tr>
        <th>name</th>
        
        <th>student ID</th>
        <th>contact</th>
        <th>year</th>
        <th>course</th>
    </tr>
    <tr *ngFor="let customer of customerResponse.data">
        <td>{{customer.studentName}}</td>
        <td>{{customer.studentId}}</td>
        <td>{{customer.studentPhoneNumber}}</td>
        <td>{{customer.year}}</td>
        <td>{{customer.course}}</td>
    </tr>
</table>
